/*=============================================== Events ===============================================*/

.list-events {
    @include ulNone();
    @include grid(1fr, 0, $margin-l);
    margin-top: var(--margin-m);

    li {
        width: 100%;
        border: 1px solid $light-gray;
        border-radius: $radius-xl;
        overflow: hidden;
        transition: $transition-short;

        a {
            @include flexbox(center, flex-start);
            color: $black;
            text-decoration: none;

            img {
                width: 120px;
                height: 150px;
                object-fit: cover;
            }

            .content {
                @include grid(1fr, 0, 0);
                padding: $margin-m;

                h5 {
                    color: $blue-primary;
                }

                .capitalised {
                    font-weight: $weight-semibold;
                }
            }

            @include mobile() {
                flex-direction: column;
                
                img {
                    width: 100%;
                }

                .content {
                    // padding: $margin-xs;
                    width: 100%;
                }
            }
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

.container-event {
    @include grid(1fr, 0, $margin-l);

    .cover {
        width: 100%;
        position: relative;
        border-radius: $radius-xl;
        overflow: hidden;
        height: 20vw;
        min-height: 300px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }

        .content {
            position: relative;
            z-index: 2;
            color: $white;
            padding: $margin-m;
            @include flexbox(flex-start, flex-end);
            flex-direction: column;
            width: 100%;
            height: 100%;

            p {
                font-weight: $weight-semibold;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay;
        }
    }

    .btn {
        justify-self: start;
    }

    .item {
        @include grid(1fr, 0, $margin-xxs);
    }
}

// Edit form
.cover-edit {
    width: 100%;
    position: relative;
    border-radius: $radius-xl;
    overflow: hidden;
    height: 20vw;
    min-height: 300px;

    input {
        display: none;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        cursor: pointer;
    }

    .icon-container {
        position: absolute;
        z-index: 2;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flexbox(center, center);
        cursor: pointer;
        opacity: 0;
        transition: $transition-short;

        svg {
            color: $dark-gray;
            $size: 48px;
            width: $size;
            height: $size;
        }
    }

    &:hover .icon-container {
        opacity: 1;
    }
}

.desc-paragraph {
    max-height: calc(#{$body} * var(--line-height) * 5);
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.open {
        max-height: inherit;
        -webkit-line-clamp: inherit;
    }
}

.formatted-paragraph {
    white-space: pre-line;
}

.list-users-small {
    @include grid(repeat(6, 1fr), $margin-s, $margin-s);
    @include ulNone();

    li {
        position: relative;
        aspect-ratio: 1;
        border-radius: $radius-m;
        overflow: hidden;
        transition: $transition-short;

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $overlay;
            }

            p {
                position: relative;
                z-index: 2;
                color: $white;
                font-weight: $weight-semibold;
                font-size: $labels;
                @include flexbox(flex-start, flex-end);
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: $margin-xxs;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    @include mobile() {
        @include grid(repeat(3, 1fr), $margin-s, $margin-s);
    }
}

.list-posts {
    @include ulNone();
    @include grid(1fr, 0, $margin-m !important);

    li {
        width: 100%;
        border: 1px solid $light-gray;
        border-radius: $radius-l;
        padding: $margin-m;
        @include grid(1fr, 0, $margin-xs);

        .poster {
            @include flexbox(center, flex-start);

            img {
                $size: 32px;
                width: $size;
                height: $size;
                border-radius: 50%;
                margin-right: $margin-xs;
            }

            .name-container {
                @include flexbox(flex-start, flex-start);
                flex-direction: column;

                a {
                    color: $blue-primary;
                    text-decoration: none;
                    font-weight: $weight-semibold;
                    transition: $transition-short;

                    &:hover {
                        color: $blue-primary-70;
                    }
                }

                em {
                    font-size: $labels;
                }
            }
        }
    }
}