/*=============================================== Header ===============================================*/

header {
    width: 100%;
    background-color: $blue-primary;
    padding: $margin-l 5vw;
    @include flexbox(center, space-between, nowrap);
    position: relative;
    z-index: 999;

    .burger {
        display: none;
        background: none;
        border: none;
        padding: 0;
        width: 30px;
        height: 20px;
        position: relative;

        span {
            width: 100%;
            height: 2px;
            background-color: $white;
            position: absolute;
            left: 0;
            transition: $transition-short;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: calc(50% - 2px / 2);
            }

            &:last-child {
                bottom: 0;
            }
        }

        &.burger-open span {
            &:first-child {
                transform: rotate(45deg);
                top: 45%;
            }

            &:nth-child(2) {
                width: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
                bottom: 45%;
            }
        }
    }

    nav {
        @include flexbox(center, flex-start, nowrap);

        a:not(:last-child) {
            margin-right: $margin-m;
        }
    }

    a {
        color: $white;
        text-decoration: none;
        font-weight: $weight-bold;
        transition: $transition-short;
        font-size: $body;

        &:hover {
            color: $blue-primary-50;
        }
    }

    @include mobile() {
        .burger {
            display: inherit;
        }

        nav {
            position: absolute;
            // top: 72px;
            top: -200px;
            background-color: $blue-primary;
            left: 0;
            width: 100%;
            padding: $margin-xs 5vw;
            @include flexbox(flex-start, flex-start);
            flex-direction: column;
            transition: $transition-short;

            & > a {
                margin-bottom: $margin-m;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }

            .nav-account {
                button {
                    display: none;
                }

                ul {
                    left: -5vw;
                    right: inherit;
                    border-radius: 0;
                    width: 100vw;
                    max-height: inherit;
                    padding: $margin-m 5vw;
                    padding-top: 0;
                    top: 0;
                }
            }

            &.open {
                top: 72px;
            }
        }
    }
}

.nav-account {
    position: relative;

    button {
        @include flexbox(center, flex-start);
        border: none;
        background: none;
        color: $white;
        font-size: $labels;
        font-weight: $weight-bold;
        font-size: $body;
        transition: $transition-short;
        z-index: 999;

        img {
            $size: 32px;
            width: $size;
            height: $size;
            border-radius: 50%;
            object-fit: cover;
            margin-right: $margin-xxs;
        }

        &:hover {
            color: $blue-primary-50;
        }
    }

    ul {
        position: absolute;
        top: 40px;
        right: 0;
        @include ulNone();
        background: $blue-primary;
        padding: $margin-m;
        border-radius: $radius-l;
        transition: $transition-long;
        max-height: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        width: 150px;

        li:not(:last-child) {
            margin-bottom: $margin-s;
        }

        &.open {
            padding-top: $margin-m;
            padding-bottom: $margin-m;
            max-height: 138px;
        }
    }
}
