{{#with user}}
<header>
    <a href="/">Event app</a>

    <nav>
        <a href="/">Home</a>
        <a href="/all-users">Users</a>

        <div class="nav-account">
            <button>
                <img src="{{ imgPath }}" alt="Picture {{ fullName }}">
                <span class="capitalised">
                    {{ fullName }}
                </span>
            </button>

            <ul>
                <li>
                    <a href="/profile">Profile</a>
                </li>

                <li>
                    <a href="/profile/{{_id}}/edit">Edit account</a>
                </li>

                <hr />

                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{{/with}}
