{{#with user}}
<header>
    <a href="/">Event app</a>

    <nav>
        <a href="/">Home</a>
        <a href="/all-users">Users</a>
        <a href="/profile">{{ fullName }}</a>
        
        {{!-- <a href="/logout" class="logout">Log out</a> --}}
    </nav>
</header>
{{/with}}
