<main class="container container-form">
    <h1>Login</h1>

    <form action="/login" method="POST" class="form">
        <div class="item">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" tabindex="1">
        </div>

        <div class="item">
            <label for="password">Password</label>

            <span class="input-container">
                <input type="password" name="password" id="password" tabindex="2">
                
                <button type="button" aria-label="Reveal password" class="reveal" tabindex="0">
                    <svg class="icon-reveal">
                        <use xlink:href="/images/icon-sprite.svg#show-slash"></use>
                    </svg>
                </button>
            </span>
        </div>

        <button type="submit" class="btn btn-primary submit" tabindex="3" disabled="disabled">Log in</button>
    </form>

    {{#if message}}
    <p class="error">{{ message }}</p>
    {{/if}}

    <p>No account? <a href="/signup">Sign up</a></p>
</main>
