<main class="container container-form">
    <h1>Sign up</h1>

    <form action="/signup" method="POST" enctype="multipart/form-data">
        <div class="item">
            <label for="fullName">Full name</label>
            <input type="text" name="fullName" id="fullName">
        </div>

        <div class="item">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="item">
            <label for="password">Password</label>

            <span class="input-container">
                <input type="password" name="password" id="password">
                <button type="button" aria-label="Reveal password" class="reveal" tabindex="0">
                    <svg class="icon-reveal">
                        <use xlink:href="/images/icon-sprite.svg#show-slash"></use>
                    </svg>
                </button>
            </span>

            <span class="password-hint"></span>
        </div>

        <div class="item">
            <label for="avatar">Avatar</label>
            <input type="file" name="avatar" id="avatar">
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary">Create your account</button>
            <a href="/login" class="btn btn-secondary">Cancel</a>
        </div>
    </form>

    <p>Already have an account? <a href="/login">Log in</a></p>

    {{#if message}}
    <p class="error-text">{{ message }}</p>
    {{/if}}
</main>
