<main class="container container-form">
    <h1>Change your password</h1>

    <form action="/profile/{{user._id}}/edit-password" method="POST" class="form">
        <div class="item">
            <label for="password">Password</label>

            <span class="input-container">
                <input type="password" name="password" id="password">
                <button type="button" aria-label="Reveal password" class="reveal" tabindex="0">
                    <svg class="icon-reveal">
                        <use xlink:href="/images/icon-sprite.svg#show-slash"></use>
                    </svg>
                </button>
            </span>

            <span class="password-hint"></span>
        </div>

        <div class="buttons-container">
            <button type="submit" class="btn btn-primary submit">Save new password</button>
            <a href="/profile/{{user._id}}/edit" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</main>
