<h1>Profile page</h1>

<h3>Welcome {{ user.fullName }}</h3>

<a href="/logout">Log out</a>

<button class="delete-account">Delete your account</button>

<div class="modal">
    <p>Are you sure you want to delete your account?</p>
    <a href="/delete-account">Delete your account</a>
</div>