<h1>Create a new event</h1>

<form action="/profile/new-event" method="POST">
    <input type="hidden" name="organiser" id="organiser" value="{{user._id}}">

    <label for="title">Title of the event</label>
    <input type="text" name="title" id="title">

    <label for="startDate">Start date</label>
    <input type="date" name="startDate" id="startDate">

    <label for="endDate">End date</label>
    <input type="date" name="endDate" id="endDate">

    <label for="startTime">Start time</label>
    <input type="time" name="startTime" id="startTime">

    <label for="endTime">End time</label>
    <input type="time" name="endTime" id="endTime">

    <label for="cover">Cover</label>
    <input type="file" name="cover" id="cover">

    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>

    <button type="submit">Create event</button>
</form>

{{#if message}}
<p>{{ message }}</p>
{{/if}}