/*=============================================== Forms ===============================================*/

.container-form {
    @include grid(1fr, 0, $margin-l);

    form {
        @include grid(1fr, 0, $margin-m);

        button[type="submit"] {
            justify-self: start;
        }

        .item-grid {
            @include grid(repeat(2, 1fr), $margin-l, 0);
        }

        .item {
            @include grid(1fr, 0, $margin-xs);

            label {
                font-weight: $weight-semibold;
                color: $blue-primary;
            }

            input[type="text"],
            input[type="password"],
            input[type="email"],
            input[type="date"],
            input[type="time"],
            textarea {
                border: 1px solid $light-gray;
                padding: $margin-xxs $margin-xs;
                border-radius: $radius-s;
                font-family: var(--font-family);
                font-size: $labels;

                &:focus {
                    border: 1px solid $blue-primary;
                }
            }

            textarea {
                min-height: 150px;
            }

            .input-container {
                position: relative;

                input {
                    width: 100%;
                }

                button {
                    border: none;
                    background-color: transparent;
                    padding: $margin-xs;
                    color: $blue-primary;
                    position: absolute;
                    right: 0;
                    top: -7px;

                    svg {
                        $size: 24px;
                        width: $size;
                        height: $size;
                    }

                    .icon-slash {
                        position: relative;
                        z-index: 1;

                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            background-color: $blue-primary;
                            display: block;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        .search-list {
            background-color: $white;
            padding: $margin-l;
            border: 1px solid $light-gray;
            border-radius: $radius-l;
        }

        .list-invite {
            height: 300px;
            overflow-y: scroll;
            @include flexbox(flex-start, flex-start, nowrap);
            flex-direction: column;
            @include ulNone();

            li {
                width: 100%;

                input[type="checkbox"] {
                    display: none;
                }

                &:not(:last-child) {
                    margin-bottom: $margin-s;
                }

                label {
                    color: $black;
                    @include flexbox(center, flex-start, nowrap);
                    width: 100%;
                    cursor: pointer;

                    .img-container {
                        position: relative;

                        img {
                            $size: 48px;
                            width: $size;
                            height: $size;
                            border-radius: 50%;
                            margin-right: $margin-xs;
                            position: relative;
                            z-index: 1;
                            object-fit: cover;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(255, 255, 255, 0.5);
                            display: none;
                        }
                    }

                    .name {
                        flex-grow: 1;
                    }

                    svg {
                        color: $success;
                        $size: 24px;
                        width: $size;
                        height: $size;
                        justify-self: flex-end;
                        margin-left: $margin-xs;
                        display: none;
                    }
                }

                input:checked ~ label {
                    .img-container:after {
                        display: block;
                    }

                    svg {
                        display: block;
                    }
                }
            }
        }
    }

    .buttons-container {
        @include flexbox(center, flex-start);

        button {
            margin-right: $margin-s;
        }
    }
}

#textConfidentiality {
    color: $black;
    font-weight: $weight-semibold;
}

.toggle-container {
    @include inlineflex(center, flex-start, nowrap);

    label {
        cursor: pointer;
    }

    .toggle {
        width: 24px;
        height: 14px;
        border: 2px solid $blue-primary;
        border-radius: 999em;
        position: relative;
        margin-right: var(--margin-xxs);
        transition: $transition-short;

        &:before {
            content: "";
            $size: 8px;
            width: $size;
            height: $size;
            border-radius: 50%;
            background-color: $blue-primary;
            position: absolute;
            top: 0;
            left: 0;
            top: calc(50% - #{$size} / 2);
            left: 1px;
            transition: $transition-short;
        }
    }

    .input-toggle {
        display: none;
    }

    input:checked ~ .toggle {
        border-color: $success;

        &:before {
            background-color: $success;
            left: 11px;
            // right: 1px;
        }
    }
}

.error {
    background-color: $danger-10;
    margin-top: $margin-l;
    padding: $margin-l;
    border-radius: $radius-xl;
    border: 1px solid $danger;
}

.edit-title-container {
    @include flexbox(center, flex-start);

    .edit-picture-container {
        $size: 80px;
        width: $size;
        height: $size;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right: $margin-m;

        input {
            display: none;
        }

        .label-avatar-picture {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;

            .icon-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include flexbox(center, center);
                opacity: 0;
                transition: $transition-short;

                svg {
                    $size: 32px;
                    width: $size;
                    height: $size;
                    position: relative;
                    z-index: 2;
                    color: $dark-gray;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 0;
            }

            &:hover .icon-container {
                opacity: 1;
            }
        }
    }
}
