/*=============================================== UI Components ===============================================*/

/*=========================== Buttons ===========================*/

.btn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: currentColor;
    box-sizing: border-box !important;
    display: inline-block;

    &.btn-primary {
        font-size: $body;
        background-color: $blue-primary;
        font-weight: $weight-bold;
        color: $white;
        padding: $margin-xs $margin-s;
        border-radius: $radius-m;
        transition: $transition-short;

        &:hover {
            background-color: $blue-primary-70;
        }

        &:disabled {
            background: $light-gray;
            color: $dark-gray;
            cursor: not-allowed;
        }
    }

    &.btn-secondary {
        font-weight: $weight-semibold;
        font-size: $body;
        color: $blue-primary;
        transition: $transition-short;

        &:hover {
            color: $blue-primary-70;
        }
    }

    &.btn-danger {
        font-size: $body;
        background-color: $danger-10;
        font-weight: $weight-bold;
        color: $danger;
        padding: $margin-xs $margin-s;
        border-radius: $radius-m;
        transition: $transition-short;

        &:hover {
            background-color: $danger-50;
        }
    }
}