@charset "UTF-8";
/* SASS Document */

/*=============================================== Imports ===============================================*/

@import "mixins";
@import "reset";
@import "variables";
@import "fonts";

/*=============================================== General ===============================================*/

body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-weight: var(--weight-regular);
}

/*=============================================== Components ===============================================*/

@import "layout";
@import "header";
@import "ui";
@import "form";

/*=============================================== Pages ===============================================*/

/*=============================================== Helpers ===============================================*/

@import "helpers";
